.about-me-title {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.about {
    background-color: rgb(106, 112, 112)
}

p {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .about-me-title {
        font-size: 30px;
    }
}