.link-items {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.link-items:hover {
    color: rgb(75, 131, 133);
}

.header-login:hover {
    background-color: rgb(75, 131, 133);
    color: #fff;
}